<body class="background">
      
  <div class="container bg-black p-3 my-5">
      <h1 class="text-white text-center mb-2">BOOKMARK</h1>
      
      <div class="row">
          <span class="text-white">Youtube</span>
          <div class="new">
              <section class="slider">
                <ul id="autoWidth" class="cs-hidden">
                <!--4------------------------------------>	
                <li class="item-d">
              <!--box-slider--------------->
                <div class="box">
                <!--img-box---------->
                <div class="slide-img">
                <img alt="4" src="../../public/img/youtube_5.jpeg">
                <!--overlayer---------->
                <div class="overlaynew">
                <!--buy-btn------>	
                <a href="#" class="buy-btn">Watch</a>	
                </div>
                </div>
                
                </div>		
              </li>
                <!--5------------------------------------>	
                <li class="item-e">
              <!--box-slider--------------->
                <div class="box">
                <!--img-box---------->
                <div class="slide-img">
                <img alt="5" src="../../public/img/youtube_6.jpeg">
                <!--overlaynewer---------->
                <div class="overlaynew">
                <!--buy-btn------>	
                <a href="#" class="buy-btn">Watch</a>	
                </div>
                </div>
                
                </div>		
              </li>
              </li>
              <!--5------------------------------------>	
            <li class="item-f">
            <!--box-slider--------------->
              <div class="box">
              <!--img-box---------->
              <div class="slide-img">
              <img alt="5" src="../../public/img/youtube_7.jpeg">
              <!--overlaynewer---------->
              <div class="overlaynew">
              <!--buy-btn------>	
              <a href="#" class="buy-btn">Watch</a>	
              </div>
              </div>
              
              </div>		
            </li>
            </li>
              <!--5------------------------------------>	
              <li class="">
            <!--box-slider--------------->
              <div class="box">
              <!--img-box---------->
              <div class="slide-img">
              <img alt="5" src="../../public/img/youtube_8.jpeg">
              <!--overlaynewer---------->
              <div class="overlaynew">
              <!--buy-btn------>	
              <a href="#" class="buy-btn">Watch</a>	
              </div>
              </div>
              
              </div>		
            </li>
                
              </ul>
              </section>
          </div>
      </div>

      <div class="row">
          <span class="text-white">Film</span>
          <div class="new">
              <section class="slider">
                <ul id="autoWidth2" class="cs-hidden">
                  <!--5------------------------------------>	
                  <li class="item-e">
                    <!--box-slider--------------->
                      <div class="box">
                      <!--img-box---------->
                        <div class="slide-img">
                          <img alt="5" src="../../public/img/film_4.jpeg">
                          <!--overlaynewer---------->
                          <div class="overlaynew">
                            <!--buy-btn------>	
                            <a href="#" class="buy-btn">Watch</a>	
                          </div>
                        </div>
                      </div>		
                    </li>
  
                    <li class="item-e">
                      <!--box-slider--------------->
                        <div class="box">
                        <!--img-box---------->
                          <div class="slide-img">
                            <img alt="5" src="../../public/img/film_5.jpeg">
                            <!--overlaynewer---------->
                            <div class="overlaynew">
                              <!--buy-btn------>	
                              <a href="#" class="buy-btn">Watch</a>	
                            </div>
                          </div>
                        </div>		
                    </li>
  
                    <li class="item-e">
                      <!--box-slider--------------->
                        <div class="box">
                        <!--img-box---------->
                          <div class="slide-img">
                            <img alt="5" src="../../public/img/film_6.jpeg">
                            <!--overlaynewer---------->
                            <div class="overlaynew">
                              <!--buy-btn------>	
                              <a href="#" class="buy-btn">Watch</a>	
                            </div>
                          </div>
                        </div>		
                    </li>
  
                    <li class="item-e">
                      <!--box-slider--------------->
                        <div class="box">
                        <!--img-box---------->
                          <div class="slide-img">
                            <img alt="5" src="../../public/img/film_7.jpeg">
                            <!--overlaynewer---------->
                            <div class="overlaynew">
                              <!--buy-btn------>	
                              <a href="#" class="buy-btn">Watch</a>	
                            </div>
                          </div>
                        </div>		
                    </li>
  
                    <li class="item-e">
                      <!--box-slider--------------->
                        <div class="box">
                        <!--img-box---------->
                          <div class="slide-img">
                            <img alt="5" src="../../public/img/film_8.jpeg">
                            <!--overlaynewer---------->
                            <div class="overlaynew">
                              <!--buy-btn------>	
                              <a href="#" class="buy-btn">Watch</a>	
                            </div>
                          </div>
                        </div>		
                    </li>
                  <!--2------------------------------------>	
                  <li class="item-b">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="2" src="../../public/img/film_1.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                  <!--3------------------------------------>	
                  <li class="item-c">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="3" src="../../public/img/film_2.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                  <!--4------------------------------------>	
                  <li class="item-d">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="4" src="../../public/img/film_3.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                </ul>
              </section>
          </div>
      </div>
      <div class="row">
        <!-- Title -->
        <div class="">
            <span class="text-white">Tiktok</span>
        </div>
          
        <div class="new tiktok">
          <section class="slider">
            <ul id="autoWidth3" class="cs-hidden">
              <!--6------------------------------------>	
              <li class="item-e">
                <!--box-slider--------------->
                <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                    <img alt="5" src="../../public/img/tiktok_6.png">
                    <!--overlaynewer---------->
                    <div class="overlaynew">
                      <!--buy-btn------>	
                      <a href="#" class="buy-btn">Watch</a>	
                    </div>
                  </div>
                </div>		
              </li>
              <!--7------------------------------------>	
              <li class="item-e">
                <!--box-slider--------------->
                <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                    <img alt="5" src="../../public/img/tiktok_7.png">
                    <!--overlaynewer---------->
                    <div class="overlaynew">
                      <!--buy-btn------>	
                      <a href="#" class="buy-btn">Watch</a>	
                    </div>
                  </div>
                </div>		
              </li>
              <!--8------------------------------------>	
              <li class="item-e">
                <!--box-slider--------------->
                <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                    <img alt="5" src="../../public/img/tiktok_8.png">
                    <!--overlaynewer---------->
                    <div class="overlaynew">
                      <!--buy-btn------>	
                      <a href="#" class="buy-btn">Watch</a>	
                    </div>
                  </div>
                </div>		
              </li>
              <!--1------------------------------------>	
              <li class="item-a">
                <!--box-slider--------------->
                <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                    <img alt="1" src="../../public/img/tiktok_5.png">
                    <!--overlayer---------->
                    <div class="overlaynew">
                      <!--buy-btn------>	
                      <a href="#" class="buy-btn">Watch</a>	
                    </div>
                  </div>
                </div>		
              </li>
              <!--2------------------------------------>	
              <li class="item-b">
            <!--box-slider--------------->
              <div class="box">
              <!--img-box---------->
              <div class="slide-img">
              <img alt="2" src="../../public/img/tiktok_1.png">
              <!--overlayer---------->
              <div class="overlaynew">
              <!--buy-btn------>	
              <a href="#" class="buy-btn">Watch</a>	
              </div>
              </div>
              
              </div>		
              </li>
              <!--3------------------------------------>	
              <li class="item-c">
            <!--box-slider--------------->
              <div class="box">
              <!--img-box---------->
              <div class="slide-img">
              <img alt="3" src="../../public/img/tiktok_2.png">
              <!--overlayer---------->
              <div class="overlaynew">
              <!--buy-btn------>	
              <a href="#" class="buy-btn">Watch</a>	
              </div>
              </div>
              
              </div>		
              </li>
              <!--4------------------------------------>	
              <li class="item-d">
            <!--box-slider--------------->
              <div class="box">
              <!--img-box---------->
              <div class="slide-img">
              <img alt="4" src="../../public/img/tiktok_3.png">
              <!--overlayer---------->
              <div class="overlaynew">
              <!--buy-btn------>	
              <a href="#" class="buy-btn">Watch</a>	
              </div>
              </div>
              
              </div>		
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="row">
          <span class="text-white">TV Show</span>
          <div class="new">
              <section class="slider">
                <ul id="autoWidth4" class="cs-hidden">
                  <!--1------------------------------------>	
                  <li class="item-a">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="1" src="../../public/img/tvshow_1.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  </div>		
                  </li>
                  <!--2------------------------------------>	
                  <li class="item-b">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="2" src="../../public/img/tvshow_2.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                  <!--3------------------------------------>	
                  <li class="item-c">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="3" src="../../public/img/tvshow_3.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                  <!--4------------------------------------>	
                  <li class="item-d">
                <!--box-slider--------------->
                  <div class="box">
                  <!--img-box---------->
                  <div class="slide-img">
                  <img alt="4" src="../../public/img/tvshow_4.jpeg">
                  <!--overlayer---------->
                  <div class="overlaynew">
                  <!--buy-btn------>	
                  <a href="#" class="buy-btn">Watch</a>	
                  </div>
                  </div>
                  
                  </div>		
                  </li>
                  <!--5------------------------------------>	
                  <li class="item-e">
                    <!--box-slider--------------->
                    <div class="box">
                      <!--img-box---------->
                      <div class="slide-img">
                        <img alt="5" src="../../public/img/tvshow_5.jpeg">
                        <!--overlaynewer---------->
                        <div class="overlaynew">
                          <!--buy-btn------>	
                          <a href="#" class="buy-btn">Watch</a>	
                        </div>
                      </div>
                    </div>		
                  </li>
                  <!--6------------------------------------>	
                  <li class="item-e">
                    <!--box-slider--------------->
                    <div class="box">
                      <!--img-box---------->
                      <div class="slide-img">
                        <img alt="5" src="../../public/img/tvshow_6.jpeg">
                        <!--overlaynewer---------->
                        <div class="overlaynew">
                          <!--buy-btn------>	
                          <a href="#" class="buy-btn">Watch</a>	
                        </div>
                      </div>
                    </div>		
                  </li>
                  <!--7------------------------------------>	
                  <li class="item-e">
                    <!--box-slider--------------->
                    <div class="box">
                      <!--img-box---------->
                      <div class="slide-img">
                        <img alt="5" src="../../public/img/tvshow_7.jpeg">
                        <!--overlaynewer---------->
                        <div class="overlaynew">
                          <!--buy-btn------>	
                          <a href="#" class="buy-btn">Watch</a>	
                        </div>
                      </div>
                    </div>		
                  </li>
                  <!--8------------------------------------>	
                  <li class="item-e">
                    <!--box-slider--------------->
                    <div class="box">
                      <!--img-box---------->
                      <div class="slide-img">
                        <img alt="5" src="../../public/img/tvshow_8.jpeg">
                        <!--overlaynewer---------->
                        <div class="overlaynew">
                          <!--buy-btn------>	
                          <a href="#" class="buy-btn">Watch</a>	
                        </div>
                      </div>
                    </div>		
                  </li>
                </ul>
              </section>
          </div>
      </div>
      <script type="text/javascript" src="../../public/js/script.js"></script>
  </div>

</body> 