<footer class="bg-black text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius: 100px !important" >
            <i class="fab fa-facebook-f"></i>
        </a>
        
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius: 100px !important">
            <i class="fab fa-instagram"></i>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius: 100px !important">
            <i class="fab fa-twitter"></i>
        </a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2 bg-black">            
      <a class="text-white" style="text-decoration: none;">Info</a> •
      <a class="text-white" style="text-decoration: none;">Support</a> •
      <a class="text-white" style="text-decoration: none;">Marketing</a>
    </div>
    <div class="text-center p-2 bg-black">            
      <a class="text-white" style="text-decoration: none;">Terms of Use</a> •
      <a class="text-white" style="text-decoration: none;">Privacy Policy</a>
    </div>
    <div class="text-center p-2 bg-black text-secondary">            
        © 2021 WiL Team
    </div>
    <!-- Copyright -->
</footer>